* {
  box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6,li,p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

a {
  color: inherit;
  text-decoration: none;
}

.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: auto;
  border-top: 5px solid #59308c;
  border-bottom: 1px solid #cbcbcb;
  padding: 10px;
}

.head1 {
  flex: 20%;
  margin: 0;
}

.head2 {
  flex: 60%;
  text-align: center;
  margin: 0;
}

.head3 {
  flex: 20%;
  margin: 0;
}

.navbutton {
  background: none;
  border: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.navbutton:hover {
  color: #59308c;
  transition-duration: 0.4s;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  padding: 0;
}

.column1 {
  flex: 25%;
  border-right: 1px solid #cbcbcb;
}

.column2 {
  flex: 75%;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.note-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #cbcbcb;
}

#no-note {
  text-align: center;
  padding: 20px;
  color: #59308c;
}

.new-note {
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #cbcbcb;
}

.new-note:hover {
  background-color: #cbcbcb;
  transition-duration: 0.4s;
}

.new-note.active {
  background-color: #59308c;
  color: white;
}

.side-panel-closed {
  display: none;
}

.side-panel-open {
  display: block;
}